<main>
    <h1>Account Management</h1>
    <% if (messages.notice) { %>
      <p class="notice"><%- messages.notice %></p>
    <% } %>
    <% if (errors) { %>
      <ul class="errors">
        <% errors.forEach(error => { %>
          <li><%- error.msg %></li>
        <% }) %>
      </ul>
    <% } %>
    <div class="management">
      <p>Welcome, <%- account_firstname %>! you have logged in Successfully.</p>
      <p>Email: <%-account_email%></p>
      <p>Account_type: <%-account_type%></p>
      <p>we are here to learn database for development in 2025 so <br> your welcome to join in our team</p>
      <a href="/account/update/<%= accountData.account_id %>" title="Click to update your account information">Edit Account Information</a>
     <% if(accountData.account_type != 'Client'){ %>
   <h3>Inventory Management</h3>
    <p><a href="/inv/" target="_blank">Manage Inventory</a></p> 
   <% } %>
    </div>
   
  </main>