
<main>
    <h1><%= title %></h1>
    <% if (errors) { %>
        <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
        </ul>
    <% } %>
        <!-- Registration Form -->
        <form action="/account/register" novalidate  method="post" class="register-form">
            <div class="form-group">
                <label for="account_firstname">First Name:</label>
                <input 
                    type="text" 
                    id="account_firstname" 
                    name="account_firstname" 
                    required 
                    placeholder="Enter your first name"
                    value="<%= locals.account_firstname %>">
            </div>
            <div class="form-group">
                <label for="account_lastname">Last Name:</label>
                <input 
                    type="text" 
                    id="account_lastname" 
                    name="account_lastname" 
                    required 
                    placeholder="Enter your last name"
                    value="<%= locals.account_lastname || '' %>"
                >
            </div>
            <div class="form-group">
                <label for="account_email">Email Address:</label>
                <input 
                    type="email" 
                    id="account_email" 
                    name="account_email" 
                    required 
                    placeholder="Enter your email"
                    value="<%= locals.account_email || '' %>"
                >
            </div>
            <div class="form-group">
                <label for="account_password">Password:</label>
                <input 
                    type="password" 
                    id="account_password" 
                    name="account_password" 
                    required 
                    placeholder="Enter your password"
                    pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{12,}$"
                    title="Password must be at least 12 characters, contain at least 1 capital letter, 1 number, and 1 special character"
                >

                <button type="button" id="togglePassword" class="toggle-password">Show Password</button>
            </div>
            <button type="submit" class="submit-btn">Register</button>
        </form>
        <p class="register-link">
            Have an account? <a href="/account/login">Login here</a>
        </p>
    </main>
