
<h1 class="message">Welcome to CSE Motors!</h1>
<div class="container">
    <div class="header-left">
        <h2>DMC Delorean </h2>
        <p> 3 Cup Holders <br>
            Superman Doors <br>
            Fuzzy Dice
        </p>
        <div class="img">
            <img src="<%-imagePath %>" alt="DMC DeLorean" style="max-width: 150px;">
            <!-- <img src="images/vehicles/delorean.jpg" alt="Delorean"> -->
        </div>
    </div>
</div>
<section>
    <div class="container_fluid">
        <div class="container-left">
            <h2>Delorean Upgrade</h2>
            <div class="wrappers">
                <div class="content">
                    <img src="<%-imagePath1 %>" alt="flux capacitor" style="max-width: 300px;">
                    <p><a href="">Flux capacitor</a></p>
                </div>
                <div class="content">
                    <img src="<%-imagePath2 %>" alt="flame Decals" style="max-width: 150px;">
                    <p><a href="">Flame Decals</a></p>
                </div>
                <div class="content">
                    <img src="<%-imagePath3 %>" alt="Bumper Stickers" style="max-width: 150px;">
                    <p><a href="">Bumper Stickers</a></p>
                </div>
                <div class="content">
                    <img src="<%-imagePath4 %>" alt="Hub Caps" style="max-width: 150px;">
                    <p><a href="">Hub Caps</a></p>
                </div>
            </div>

 
        </div>
        <div class="container_right">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like travelling in time" (4/5)</li>
                <li>"Coolest ride on the road". (4/5)</li>
                <li>"I'm feeling Mcfly!". (5/5)</li>
                <li>"The Most futuristic ride of our day".(4/5/5)</li>
                <li>"80's living and i love it!". (5/5)</li>
            </ul>

        </div>
    </div>
</section>