<%- include('../../layouts/header') -%>

<main>
  <h1><%= title %></h1>
  
  <%- messages() %>
  
  <% if (errors) { %>
    <div class="message warning">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    </div>
  <% } %>

  <form action="/inv/addInventory" method="post" class="form">
    <div class="form-group">
      <label for="classification_id">Classification:</label>
      <%- classificationSelect %>
      <% if (errors && errors.find(e => e.param === 'classification_id')) { %>
        <span class="error-message"><%= errors.find(e => e.param === 'classification_id').msg %></span>
      <% } %>
    </div>

    <!-- Vehicle Details Group -->
    <fieldset class="form-fieldset">
      <legend>Vehicle Details</legend>
      
      <div class="form-group">
        <label for="inv_make">Make:</label>
        <input type="text" id="inv_make" name="inv_make" required
               value="<%= inv_make || '' %>">
      </div>
      
      <!-- Add all other vehicle fields similarly -->
      
    </fieldset>

    <!-- Media Group -->
    <fieldset class="form-fieldset">
      <legend>Media</legend>
      
      <div class="form-group">
        <label for="inv_image">Image Path:</label>
        <input type="text" id="inv_image" name="inv_image" required
               value="<%= inv_image || '/images/vehicles/no-image.png' %>">
      </div>
      
      <!-- Thumbnail field -->
      
    </fieldset>

    <div class="form-buttons">
      <button type="submit" class="btn btn-primary">Add Inventory</button>
      <a href="/inv/" class="btn btn-secondary">Cancel</a>
    </div>
  </form>
</main>

<%- include('../../layouts/footer') -%>