<%- include('../partials/head', {title}) %>
<body>
  <%- include('../partials/header') %>
  <%- include('../partials/navigation', {nav}) %>

  <main class="detail-view">
    <%- detailHTML %>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>